{% extends 'base.html' %}

{% block content %}
<h1>Logowanie</h1>

<form method="post" class="mt-3">
  {{ form.csrf_token }}

  <div>
    <label for="username" class="form-label">{{ form.username.label}}</label>
    <input type="text" class="form-control" id="username" name="username">

{% if form.errors %}
  <ul>
    {% for field, errors in form.errors.items() %}
      <li><strong>{{ field }}</strong>: {{ errors }}</li>
    {% endfor %}
  </ul>
{% endif %}
  </div>

  <div class="mt-3">
    <label for="password" class="form-label">{{ form.password.label}}</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>

  <button type="submit" class="btn btn-primary mt-3">Zaloguj się</button>
</form>
{% endblock %}
